@media print, (max-width: 1205px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 32px;
    }



    /*----------------------
        Fixed order form
    ----------------------*/
    .fixed_order_form .btn
    {
        padding: 20px 18px 20px 16px;
    }


    .fixed_order_form .data
    {
        width: 812px;
        padding: 40px 60px;
    }

    .fixed_order_form .block_head .desc
    {
        width: 400px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 24px 0;
    }


    header .slogan
    {
        margin-left: 92px;
    }


    header .phone
    {
        margin-right: 152px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 36px;
    }

    .block_head .title
    {
        line-height: calc(var(--font_size_title) + 10px);
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 16px;
    }


    .form .line
    {
        margin-bottom: 16px;
    }


    .form .bottom .col
    {
        width: 100%;
    }

    .form .bottom .col + .col
    {
        margin-top: 20px;
    }


    .form .price,
    .form .duration
    {
        width: calc(50% - 8px);
    }


    .form .bottom .agree
    {
        width: calc(50% - 8px);
    }



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/
    .first_section .col_left
    {
        padding-top: 12px;
    }

    .first_section .col_left .credit
    {
        margin-bottom: 42px;
    }

    .first_section .col_left .title .icon
    {
        top: -26px;
        left: -4px;

        transform: rotate(90deg);
    }


    .first_section .col_center
    {
        margin-left: 72px;
    }

    .first_section .col_center .title
    {
        font-size: 58px;
        line-height: 72px;
    }

    .first_section .col_center .title.small
    {
        font-size: 46px;
        line-height: 64px;
    }

    .first_section .col_center .btn
    {
        margin-top: 24px;
    }


    .first_section .img
    {
        right: -64px;

        width: 484px;
        height: 686px;
        margin-right: 0;
    }

    .first_section .img2
    {
        right: -48px;
        bottom: 87px;

        width: 384px;
        height: 492px;
        margin-right: 0;
    }


    .first_section .vertical_title
    {
        font-size: 168px;

        top: -48px;
        right: -9px;

        margin-right: 0;
    }


    .first_section .bottom
    {
        padding: 24px;
    }

    .first_section .bottom h2
    {
        line-height: calc(var(--font_size_title) + 10px);

        left: 0;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding-bottom: 80px;
    }


    .advantages .row
    {
        margin-left: -40px;
    }

    .advantages .row > *
    {
        width: calc(33.333% - 40px);
        margin-left: 40px;
    }



    /*-------------
        You get
    -------------*/
    .you_get
    {
        padding: 64px 0;
    }


    .you_get .items
    {
        width: calc(100% - 265px);

        column-gap: 28px;
    }



    /*------------------
        About author
    ------------------*/
    .about_author
    {
        padding: 60px 0 92px;
    }


    .about_author .img
    {
        width: 480px;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        padding: 60px 0 80px;
    }


    .reviews .block_head
    {
        margin-bottom: 40px;
    }


    .reviews .items
    {
        width: 240px;
        max-width: calc(100% + 12px);
        margin-bottom: -12px;
        margin-left: -12px;
    }

    .reviews .items > *
    {
        width: calc(50% - 12px);
        height: 143px;
        margin-bottom: 12px;
        margin-left: 12px;
    }


    .reviews .photos .title
    {
        width: 163px;
    }



    /*-----------
        Logos
    -----------*/
    .logos .item
    {
        height: 180px;
    }



    /*-------------
        Program
    -------------*/
    .program
    {
        margin-bottom: 60px;
        padding-top: 80px;
    }

    .program:before
    {
        height: calc(100% - 92px);
    }


    .program .data
    {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 40px 40px 64px 200px;
    }


    .program .message
    {
        top: -48px;
        right: -84px;
    }


    .program .row
    {
        margin-left: -40px;
    }

    .program .row > *
    {
        width: calc(33.333% - 40px);
        margin-left: 40px;
    }


    .program .item .icon
    {
        margin-bottom: 16px;
    }



    /*------------
        Format
    ------------*/
    .format
    {
        margin-bottom: 60px;
    }


    .format .item .head
    {
        padding: 28px 36px;
    }


    .format .item .info
    {
        padding: 28px 38px 30px;
    }



    /*--------------
        Bg block
    --------------*/
    .bg_block
    {
        padding: 96px 0 80px;
    }

    .bg_block > * + *
    {
        margin-top: 60px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block .data
    {
        width: 100%;
        margin: 0;
        padding: 40px;
    }


    .order_block .col_main
    {
        width: calc(100% - 320px);
    }


    .order_block .col_right
    {
        width: 280px;
    }

    .order_block .col_right > * + *
    {
        margin-top: 32px;
    }



    /*-------------------------
        Additional services
    -------------------------*/
    .additional_services .block_head
    {
        margin-bottom: 40px;
    }



    /*---------
        FAQ
    ---------*/
    .faq
    {
        margin-bottom: 60px;
    }


    .faq .accordion
    {
        width: calc(100% - 368px);
    }



    /*----------------
        Bestseller
    ----------------*/
    .bestseller .info
    {
        margin-left: 260px;
    }


    .bestseller .img
    {
        left: -72px;

        width: 400px;
        margin-left: 0;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 92px 0 40px;
    }


    footer .slogan
    {
        margin-left: 64px;
    }


    footer .phone
    {
        margin-right: auto;
    }


    footer .socials
    {
        width: 536px;
    }

    footer .socials .exp
    {
        margin-top: 20px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        width: 480px;
        padding: 80px;
    }



    #success_modal
    {
        height: 400px;
    }
}
